.monthlyPayments {
    &__month {
        display: flex;
        flex-direction: row;

        &-name {
            margin: 0px;
            width: 150px;
        }

        &-number {
            display: inline-block;
            margin: 0px;
            width: 30px;
            text-align: center;
        }
    }

    
}