.creditInitialData {
    height: 100%;
    width: 100%;
    background-color: darkkhaki;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__date-container {
        display: flex;
        flex-direction: row;
    }
}

