.popover {
    height: 300px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border: 1px solid darkslategray;

}